:root{
    --fondo-gris:#e5e5e5;
    --fondo-azul:#eaf2fd;
    --fondo-gris-img:#ededed;
    --fondo-azul-btn:#2a7ae4;
    --color-letras:#464646;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--fondo-gris);
    padding: 2rem 7rem;
}