.sobre_mi{
    width: 100%;
    height: auto;
    padding: 3rem 7rem;
    background-color: var(--fondo-azul);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sobre_mi__div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    height: 100%;
}

.sobre_mi__titulo{
    color: var(--color-letras);
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.sobre_mi__parrafo{
    color: var(--color-letras);
    font-size: 1.2rem;
    text-align: justify;
}